body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #adadad, white);
  text-align: center;
  padding: 0 10%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: white;
  background-color: #666666;
  padding: 20px;
}

article {
  border-bottom: 1px solid white;
  padding: 20px;
}

.author {
  font-size: 2em;
  font-style: italic;
}